html, body{
    margin: 20px;
    padding: 20px;
}

html{
    height: 100%;
    background: linear-gradient(-45deg,rgb(63, 110, 240),rgb(90, 196, 228));
}

header{
    top: 0;
    background-color: rgb(84, 136, 214);
    border-radius: 30px;
    margin-left: 150px;
}

header>h1{
    text-align: center;
    background-color: rgb(77, 77, 182);



}

.main{
    margin-left: 150px;
}

.side{
  border-top-right-radius: 9%;
  border-bottom-right-radius: 9%;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  top: 0;
  left: 0;
  background-color: darkgreen;
  padding-top: 60px;
  z-index: 1;

}

.side a{
    margin-top: auto;
    margin-bottom: auto;
    padding: 2px;
}





.text {
  display: inline-block;
  vertical-align: top;
}


a:hover, a:visited, a:link, a:active{
    font-size: large;
    text-decoration: none;
}


#lulu, #lala, #lili, #lolo{
    background-color: rgb(199, 233, 255);
    margin-left: 40px;
    margin-right: 40px;
    border: solid black;
    border-width: 1px;
    border-radius: 30px;
    transition-duration: 0.3s;
}

#lulu:hover, #lala:hover, #lili:hover, #lolo:hover{
    background-color: aliceblue;
    border: solid black;
    border-width: 2px;
    border-radius: 30px;
    font-size: 20px;
    transition-duration: 0.3s;
}

#Image{
    border-radius: 30px;
    float: left;
}

#Image:hover{
    border-radius: 35px;
    margin: 30px;
    transform: scale(1.1);
    box-shadow: 10px 5px 5px gray;
    
}




footer {
    position: fixed;
    left: 130px;
    bottom: 0;
    width: 100%;
    background: linear-gradient(135deg,
    #e6eef8 0%,   
    #a1b5cc 20%,
    #0d2b5c 45%,  
    #ffffff 50%,  
    #1b4380 55%,   
    #cbd8e6 80%,  
    #051838 100% );
    color: white;
    text-align: center;
}


