html, body{
    padding-right: 20px;
    padding: 0px;
}

html{
    height: 100%;
    background: linear-gradient(-45deg,rgb(63, 110, 240),rgb(90, 196, 228));
}

header{
    top: 0;
    background-color: rgb(84, 136, 214);
    border-radius: 30px;
    margin-left: 150px;
}

header>h1{
    text-align: center;
}

nav>button{
    background-color: red;
    border-color: blue;
}

.main{
    margin-left: 120px;
    transition-duration: 0.4s;
}

.mainplus{
    margin-left: 20px;
    transition-duration: 0.4s;
}

.sideopen{
  border-top-right-radius: 9%;
  border-bottom-right-radius: 9%;
  height: 90vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  top: 0;
  left: 0;
  background-color: darkgreen;
  padding-top: 60px;
  z-index: 1;
  transition-duration: 0.4s;

}


.sideclose{
  border-top-right-radius: 9%;
  border-bottom-right-radius: 9%;
  height: 90vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 0;
  top: 0;
  left: 0;
  background-color: darkgreen;
  padding-top: 60px;
  z-index: 1;
  transition-duration: 0.4s;
}

.sideclose a:not(#alogo){
    display: none;
}

/*A revoir : Fixed gene le scroll*/

.sideclose #changemenu{
    position: fixed;
    top: 12px;
    left: 90px;
}

.sideclose #alogo{
    position: fixed;
    top: 30px;
    left: 30px;
}



.sideopen a:not(#alogo){
    margin-top: auto;
    margin-bottom: 10px;
    padding: 2px;
}


.sideopen #alogo{
    position: fixed;
    top: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 2px;
}

.sideopen:hover{
    background-color: aqua;
}

#paragraphe1{
    display: flex;
    flex-direction: row;
}

#paragraphe2{
    display: flex;
    flex-direction: row-reverse;
}



.text {
  display: inline-block;
  vertical-align: top;
}


a:hover, a:visited, a:link, a:active{
    font-size: large;
    text-decoration: none;
}


#lulu, #lala, #lili, #lolo{
    background-color: rgb(199, 233, 255);
    margin-left: 40px;
    margin-right: 40px;
    border: solid black;
    border-width: 1px;
    border-radius: 30px;
    transition-duration: 0.3s;
}


#lulu:hover, #lala:hover, #lili:hover, #lolo:hover{
    background-color: aliceblue;
    border: solid black;
    border-width: 2px;
    border-radius: 30px;
    font-size: 20px;
    transition-duration: 0.3s;
}

.classe{
    margin-bottom: auto;
    margin-top: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.lible{
    font-size: 0px;
}

.classe:hover .lible{
    font-size: 40px;
}

#Image{
    border-radius: 30px;
    float: left;
    transition-duration: 0.3s;

}



#Image:hover{
    border-radius: 10px;
    margin: 30px;
    transform: scale(1.05);
    box-shadow: -10px -10px 10px -10px rgb(114, 134, 219);
    transition-duration: 0.3s;
    
}




footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5vh;
    background: linear-gradient(135deg,
    #e6eef8 0%,   
    #a1b5cc 20%,
    #0d2b5c 45%,  
    #ffffff 50%,  
    #1b4380 55%,   
    #cbd8e6 80%,  
    #051838 100% );
    color: white;
    text-align: center;
    z-index: 2;
}

