html{
    height: 100%;
    background: linear-gradient(#aeafb1,rgb(178, 182, 182));
}

header{
    background-color: rgb(238, 240, 246);
    border-radius: 30px;
}

header>h1{
    text-align: center;
    background-color: rgb(115, 115, 118);

}
main>div{
    background-color: rgb(239, 239, 243);
}


a{
    font-size: large;
    color: #3e2375;
}

#lulu, #lala, #lili{
    background-color: rgb(228, 231, 234);
    margin-left: 40px;
    margin-right: 40px;
    border:2px solid rgb(103, 98, 91);
    border-radius: 10px;
}

#lulu:hover, #lala:hover, #lili:hover{
    background-color: aliceblue;
    border:2px solid  rgb(28, 51, 126);
    border-radius: 10px;
    font-size: 30px;
}

#Troll{
    border-radius: 30px;
}

footer{
   height : 130px;
   text-align: center;
   padding-top: 30px;
}
.cadre-image {
  width: 1515px;
  height: 300px;
  border: 2px dashed #888;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
  background-color: #f2f2f2;
}