html{
    height: 100%;
    background: linear-gradient(#aeafb1,rgb(178, 182, 182));
}

body{
    margin-left: 95px;

}

.titre{
    background-color: rgb(66, 185, 126);
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}

img{
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    height: 46px;
    width: 90px;
}

#button1, #button2, #button3, #button4,#button5{
    background-color: rgb(103, 248, 142); margin-left: 40px;
    color: rgb(71, 49, 192);
    border: none;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 25px;
    text-decoration: none;
}

.Menu{
    position: fixed;
    top: 50px;
    padding-bottom: 20px;
    left: 0px;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 1000px;
    width: 90px;
}

main>div{
    background-color: rgb(239, 239, 243);
}


a{
    font-size: large;
    color: #3e2375;
}

footer{
   height : 20px;
   width: 100%;
   text-align: center;
   padding-top: 5px;
}
.cadre-image {
  width: 100%;
  height: 300px;
  border: 2px dashed #888;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666;
  background-color: #f2f2f2;
}
